*,
::before,
::after,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

html {
  background-color: #eff2ef;
}

.appNavInside {
  display: flex;
  background-color: #eff2ef;
  position: relative;
  padding: 20px 40px;
}
.appNavInside .navLinkContainer {
  display: flex;
  margin: 0 auto;
  padding: 20px;
}
.appNavInside .navLinkContainer a,
.appNavInside .navLinkContainer a:visited {
  border: none;
  background: none;
  color: #eff2ef;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #2b2c28;
  margin: 0 20px;
}
.appNavInside .links {
  position: relative;
}
.appNavInside .gitLink,
.appNavInside .twitLink,
.appNavInside .linkedIn {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #339989;
  position: absolute;
  color: #2b2c28;
}
.appNavInside .gitLink {
  right: 80px;
  top: 20px;
}
.appNavInside .twitLink {
  right: 80px;
  top: 80px;
}
.appNavInside .linkedIn {
  right: 10px;
  top: 80px;
}
.appNavInside .links a,
.appNavInside .links a:visited {
  color: #131515;
  font-size: 1rem;
}
.appNavInside .hidden {
  display: none;
}
.appNavInside .toggleSocials {
  border-radius: 50%;
  color: #2b2c28;
  background-color: #339989;
  height: 40px;
  width: 40px;
  border: none;
  position: absolute;
  right: 40px;
  top: 30px;
}
.appNavInside .turnButton {
  transform: rotateZ(90deg);
  transition: 1s;
}
.appNavInside .reverseTurn {
  transform: rotateZ(180deg);
  transition: 1s;
}

.appNav::after {
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: solid #2b2c28 1px;
  width: 50%;
}

.fishLogo {
  position: absolute;
  left: 10px;
}

.fishImg {
  height: 62px;
}

.welcome {
  background-color: #eff2ef;
  display: flex;
  font-size: 3rem;
  padding: 40px;
  color: #131515;
}
.welcome span {
  color: #339989;
  font-weight: 800;
}
.welcome p {
  max-width: 60ch;
  margin: 0 auto;
}

.skillsContainer {
  background-color: #339989;
  display: flex;
  align-items: center;
  padding: 80px;
  margin: 0 auto;
  justify-content: center;
}
.skillsContainer .description {
  word-spacing: 3px;
  color: #131515;
  font-weight: 600;
  width: 50vw;
}
.skillsContainer .description h3 {
  font-size: 3rem;
  color: #eff2ef;
}
.skillsContainer .description p {
  font-size: 1.3rem;
  max-width: 50%;
}
.skillsContainer .skillsIcons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  font-size: 2rem;
  margin-top: 57px;
}
.skillsContainer .faContainer {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  color: #131515;
}
.skillsContainer .faContainer svg,
.skillsContainer .faContainer .imgContainer {
  min-width: 40px;
}
.skillsContainer .faContainer svg,
.skillsContainer .faContainer img {
  align-content: center;
  margin: auto 0;
  display: flex;
}
.skillsContainer .faContainer .imgContainer {
  justify-content: center;
  display: flex;
}
.skillsContainer .insideText {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  align-self: flex-end;
  text-align: left;
}
.skillsContainer .faContainer .imgContainer img {
  max-height: 32px;
  width: auto;
  align-self: center;
}

.projectsHeader {
  margin-top: 40px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectsHeader p {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  max-width: 80vw;
}

.projectsContainer {
  position: relative;
  display: flex;
  margin: 0 auto 0px auto;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.projectsContainer .projectNav {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  color: #2b2c28;
  background-color: #339989;
  height: 40px;
  width: 40px;
  border: none;
  margin: 0px 20px;
}
.projectsContainer .none {
  filter: grayscale(1);
}
.projectsContainer #activeProject {
  position: relative;
}
.projectsContainer #activeProject #leftButton {
  left: -100px;
  z-index: 9999;
}
.projectsContainer #activeProject #rightButton {
  right: -100px;
  z-index: 9999;
}
.projectsContainer img {
  display: flex;
  margin: 0 auto;
}
.projectsContainer .screenshotLeft {
  left: -20px;
}
.projectsContainer .screenshotRight {
  right: -20px;
}

.projImageContainer {
  display: flex;
}

.projectContainer {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.projectContainer img {
  height: 50vh;
  box-shadow: 0px 0px 10px 1px #2b2c28;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.projectContainer h3 {
  display: block;
  text-align: center;
  margin: 10px 0px;
}
.projectContainer button {
  align-self: center;
  border-radius: 50%;
  color: #2b2c28;
  background-color: #339989;
  height: 40px;
  width: 40px;
  border: none;
  position: absolute;
}
.projectContainer .projectDescription {
  max-width: 60ch;
  text-align: center;
  display: flex;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: bolder;
  min-height: 115px;
}
.projectContainer .projectLinks {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 8px;
}
.projectContainer .projectLinks a,
.projectContainer .projectLinks a:visited {
  color: #131515;
  font-size: 1.2rem;
  font-weight: bold;
}

.descrContainer {
  min-height: 200px;
}

.mainContent {
  display: flex;
  position: relative;
  justify-content: center;
}

.aboutContainer {
  background-color: #339989;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.aboutContainer .aboutMeHeader {
  text-align: center;
}
.aboutContainer .aboutMeBody {
  color: #000;
  font-size: 1.2rem;
  font-weight: bolder;
  word-spacing: 3px;
  line-height: 1.3;
  max-width: 60ch;
}
.aboutContainer .aboutMeBody div {
  margin-top: 12px;
  margin-bottom: 12px;
}
.aboutContainer .mySocials {
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-top: 12px;
  justify-content: center;
}
.aboutContainer .mySocials a,
.aboutContainer .mySocials a:visited {
  color: #131515;
  text-decoration: none;
}
.aboutContainer .mySocials a svg,
.aboutContainer .mySocials a:visited svg {
  margin: 0px 4px;
}
.aboutContainer .goodbye {
  color: #000;
  font-size: 1.2rem;
  max-width: 60ch;
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
}
.aboutContainer .goodbye span {
  letter-spacing: 1px;
}

.aboutContainerInside {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  position: relative;
}

.toTop,
.toTop:visited {
  position: absolute;
  display: flex;
  color: #131515;
  border-radius: 50%;
  color: #2b2c28;
  background-color: #339989;
  height: 40px;
  width: 40px;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: #eff2ef;
  right: -50px;
  top: 50%;
  justify-self: flex-end;
}

@media only screen and (max-width: 1111px) {
  .welcome p {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1096px) {
  .skillsContainer .description p {
    max-width: none;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .skillsContainer .skillsIcons {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    margin-top: 0px;
  }
  .projectContainer img {
    height: auto;
    width: 60vw;
  }
  .projectsContainer .screenshotRight {
    right: 20px;
  }
  .projectsContainer .screenshotLeft {
    left: 20px;
  }
}
@media only screen and (max-width: 824px) {
  .projectsContainer #activeProject #rightButton {
    right: -5vw;
  }
  .projectsContainer #activeProject #leftButton {
    left: -5vw;
  }
}
@media only screen and (max-width: 737px) {
  .projectsContainer .screenshotRight {
    right: 40px;
  }
  .projectsContainer .screenshotLeft {
    left: 40px;
  }
  .projectsContainer #activeProject #rightButton {
    right: 0vw;
  }
  .projectsContainer #activeProject #leftButton {
    left: 0vw;
  }
  .aboutContainerInside {
    max-width: 75vw;
  }
  .skillsContainer .faContainer {
    gap: 0px;
  }
  .appNavInside .linkedIn {
    right: 0px;
    top: 70px;
  }
  .appNavInside .gitLink {
    right: 60px;
  }
  .appNavInside .twitLink {
    right: 60px;
    top: 70px;
  }
}
@media only screen and (max-width: 644px) {
  .projectsHeader p {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 637px) {
  .skillsContainer {
    display: block;
  }
  .skillsContainer .description {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 12px;
  }
  .skillsContainer .description p {
    margin-right: 0;
  }
  .skillsContainer .skillsIcons {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.4rem;
    font-weight: bold;
  }
  .skillsContainer .faContainer .imgContainer img {
    max-height: 22.38px;
    width: auto;
    align-self: center;
  }
  .projectsContainer .screenshotRight {
    right: 70px;
  }
  .projectsContainer .screenshotLeft {
    left: 70px;
  }
}
@media only screen and (max-width: 575px) {
  .projectsContainer .projectNav {
    top: 36%;
  }
  .appNavInside .navLinkContainer a,
.appNavInside .navLinkContainer a:visited {
    margin: 0 5px;
  }
  .appNav::after {
    width: 30%;
  }
}
@media only screen and (max-width: 496px) {
  .welcome p {
    font-size: 2rem;
    font-weight: bold;
  }
  .projectsContainer .screenshotRight {
    right: 40px;
  }
  .projectsContainer .screenshotLeft {
    left: 40px;
  }
  .appNavInside .toggleSocials {
    right: 20px;
  }
  .appNavInside .linkedIn {
    right: -20px;
    top: 70px;
  }
  .appNavInside .gitLink {
    right: 40px;
  }
  .appNavInside .twitLink {
    right: 40px;
    top: 70px;
  }
}
@media only screen and (max-width: 483px) {
  .skillsContainer {
    padding: 50px;
  }
  .skillsContainer .description p {
    width: 84vw;
  }
  .appNavInside .toggleSocials {
    right: 0px;
  }
  .appNavInside .linkedIn {
    right: -37.35px;
    top: 70px;
  }
  .appNavInside .gitLink {
    right: -37.35px;
    top: 190px;
  }
  .appNavInside .twitLink {
    right: -37.35px;
    top: 130px;
  }
}
@media only screen and (max-width: 440px) {
  .mobileBar {
    display: none;
  }
  .appNavInside .navLinkContainer a,
.appNavInside .navLinkContainer a:visited {
    margin: 0 4px;
  }
  .aboutContainerInside .aboutMeBody,
.aboutContainerInside .goodbye {
    font-size: 1rem;
    font-weight: bolder;
  }
  .toTop,
.toTop:visited {
    right: -40px;
  }
}
@media only screen and (max-width: 400px) {
  .projectContainer .projectDescription {
    min-height: 161px;
  }
}
@media only screen and (max-width: 389px) {
  .projectsContainer .screenshotRight {
    right: 55px;
  }
  .projectsContainer .screenshotLeft {
    left: 55px;
  }
}
@-webkit-keyframes feedback {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
@keyframes feedback {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
.btnAnimation:active {
  -webkit-animation-name: feedback;
          animation-name: feedback;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}/*# sourceMappingURL=stylesheet.css.map */